<div class="row">
    @for (member of memberService.paginatedResult()?.items; track member.id)
    {
      <div class="col-2">
        <app-members-card [member]="member"></app-members-card>
      </div>
    }
</div>

@if(memberService.paginatedResult()?.pagination){
  <div class="d-flex justify-content-center">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="memberService.paginatedResult()?.pagination!.totalItems"
      [itemsPerPage]="memberService.paginatedResult()?.pagination!.itemsPerPage"
      (pageChanged)="pageChanged($event)"
      [maxSize]="6"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
      class="custom-pagination">
    </pagination>
  </div>
}


